
@{
    ViewBag.Title = "Index";
}

<h2>Main</h2>
<p></p>
@using (Html.BeginForm("EnterAsDoctor", "Home", FormMethod.Post))
{
    <p>Phone: </p>
    @Html.TextBox("Phone", "3044459677")
    <p>Password :</p>
    @Html.TextBox("Password", "1")
    <p><input type="submit" value="Enter" /></p>
}